#homepage, #aboutme {
    background-color: #0A253A;
    background-image: url("homeimages/Stars@4x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: relative;
    margin: 0; 
}
#CRpage, #MFpage, #CHpage, #MIPpage {
    background-color: #0A253A;
    background-image: url("homeimages/Starsnomoon@4x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: static;
    margin: 0; 
}
/*DESKTOP*/
@media only screen and (min-width: 1025px) {
/************** HOME PAGE **************/
    #intro {
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: normal;
        font-size: 18px;
        height: 30px;
        letter-spacing: 1.95px;
        text-align: center;
        width: 400px;
        margin: auto;
        padding-top: 258px;
    }
    #victoria {
        color: #ffffff;
        font-family:'Oranienbaum', serif;
        font-weight: normal;
        font-size: 100px;
        height: 126px;
        letter-spacing: 7.33px;
        width: 700px;
        text-align: center;
        padding-top: 8px;
        padding-bottom: 85px;
        margin: auto;
    }
    #mountainContainer {
        position: relative;
    }
    /*Images*/
    #mountain {
        width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    } 
    #pinkRectangle {
        max-height: 50px;
        width: 100%;
    }
    #shadows {
        width: 42vw;
        display: inline;
        position: absolute;
        margin-left: 50px;
        padding-top: 250px;
        z-index: 10;
    }
    #CRtile {
        width: 20vw;
        display: inline-block;
        position: absolute;
        margin-left: 21%;
        padding-top: 13%;
        z-index: 11;
    }
    #MFtile {
        width: 20vw;
        display: inline-block;
        position: absolute;
        margin-left: 2.2%;
        padding-top: 21%;
        z-index: 11;
    }
    #CHtile {
        width: 20vw;
        display: inline-block;
        position: absolute;
        margin-left: 24%;
        padding-top: 33%;
        z-index: 11;
    }
    #MIPtile {
        width: 20vw;
        display: inline-block;
        position: absolute;
        margin-left: 4.5%;
        padding-top: 42%;
        z-index: 11;
    }
    #mywork {
        position: absolute;
        top: 220px;
        right: 100px;
    } 
    h1 {
        color: #ffffff;
        font-family:'Oranienbaum', serif;
        font-weight: normal;
        font-size: 32px;
        letter-spacing: 2px;
        height: 100px;
        width: 700px;
        float: right;
        text-align: right;
        margin: auto;
    } 
    /*home page links*/
    #pastwork, #tobesoon {
        max-width: 500px;
        display: block;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1.95px;
        text-align: left;
        margin: auto;
        padding: 0vw 0vw 0vw 15vw;
        padding-bottom: 20px;
        cursor: text;   
    } 
    label a {
        max-width: 500px;
        display: block;
        padding: 0vw 0vw 0vw 15vw;
        border: none;
        cursor: pointer;
        color: #ffffff;
        font-family:'Oranienbaum', serif;
        font-weight: normal;
        font-size: 32px;
        letter-spacing: 2px;
        text-decoration: none;
    }
    /*line2*/
    label span{
        display: block;
        font-size: 16px;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: normal;
        padding-top: 12px;
        padding-bottom: 44px;
        text-decoration: none;
    }
/************** ABOUT ME **************/
    #pageTitle {
        color: #ffffff;
        font-family:'Oranienbaum', serif;
        font-weight: normal;
        font-size: 36px;
        letter-spacing: 2px;
        display: block;
        text-align: left;
        margin-left: 10vw;
        position: absolute;
        top: 135px;
    }
    .description {
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 1.95px;
        text-align: left;
        position: static;
    }
    #myLife {
        width: 50vw;
        margin-left: 10vw;
        padding-top: 230px;
        padding-bottom: 24px;
    }
    #mountain2 {
        position: fixed;
        display: inline-block;
        width: 50vw;
        right: 0px;
        bottom: 0px;
    }
    .skills {
        position: absolute;
        display: inline-block;
        margin-left: 10%;
        padding-top: 16px;
        padding-bottom: 36px;
        height: 160px;
        width: 392px;
    }
    #me {
        position: relative;
        width: 22%;
        display: inline-block;
        left: 65%;
        bottom: 20vw;
    }
/************** CONTROL ROOM **************/
    #introdescription {
        width: 30vw;
        margin-left: 10vw;
        padding-top: 230px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 150px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 418px;
    }
    .topImage {
        position: absolute;
        width: 45%;
        display: inline-block;
        left: 50%;
        top: 16vw
    }
    .stepTitle {
        color: #ffffff;
        font-family:'Oranienbaum', serif;
        font-weight: normal;
        font-size: 30px;
        letter-spacing: 2px;
        display: inline-block;
        text-align: left;
        margin-left: 22vw;
        position: absolute;
        padding-top: 350px;
        padding-bottom: 24px;
    }
    #goalCR {
        margin-left: 22vw;
        padding-top: 400px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 150px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
    #step2 , #step3 , #step4 {
        padding-top: 0px !important;
    }
    #client {
        margin-left: 22vw;
        padding-top: 50px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 180px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
    #problem {
        margin-left: 22vw;
        padding-top: 50px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 240px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
    #solution1 {
        margin-left: 22vw;
        padding-top: 115px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 80px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
    #CRS1 {
        position: relative;
        width: 65%;
        display: inline-block;
        margin-left: 20%;
        padding-bottom: 60px;
    }
    #subheading {
        padding-top: 90px !important;
        margin-left: 22vw;
    }
    #solution2 {
        margin-left: 22vw;
        padding-top: 140px;
        padding-bottom: 140px;
        font-size: 16px;
        font-weight: normal;
        height: 80px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
    #CRS2 {
        position: relative;
        width: 60%;
        display: inline-block;
        margin-left: 21%;
        padding-bottom: 40px;
    }
    #solution3 {
        margin-left: 22vw;
        padding-top: 140px;
        padding-bottom: 40px;
        font-size: 16px;
        font-weight: normal;
        height: 80px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
    #blackBackground {
        position: relative;
        width: 100%;
        height: 20%;
        display: inline-block;
        margin: auto;
        padding-bottom: 60px;
        z-index: 1;
    }
    #prototypeCR {
        z-index: 10;
        position: absolute;
        margin-left: 20%;
        margin-top:-700px;
        display: block;
    }
    #reflection {
        position: relative;
        margin-left: 22vw;
        padding-top: 40px;
        padding-bottom: 0px;
        font-size: 30px;
        font-weight: normal;
        height: 40px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
    #reflectionDescription {
        margin-left: 22vw;
        padding-top: 12px;
        padding-bottom: 0px;
        font-size: 16px;
        font-weight: normal;
        height: 180px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
/************** MISSING FORWARDER **************/
    #MFstep4 {
        margin-left: 16vw !important;
        padding-top: 0px !important;
    }
    #MFsolution1 {
        margin-left: 16vw;
        padding-top: 115px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 200px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 400px;
    }
    #MFS1 {
        position: relative;
        width: 40%;
        display: inline-block;
        margin-left: 50%;
        margin-right: 0%;
        margin-top:-280px;
        padding-bottom: 60px;
    }
    #MFstep5{
        margin-left: 57vw !important;
        padding-top: 40px !important;
        padding-bottom: 0px !important;
    }
    #MFsolution2 {
        margin-left: 57vw;
        padding-top: 90px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 200px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 400px;
    }
    #MFS2 {
        position: relative;
        width: 40%;
        display: inline-block;
        margin-left: 10vw;
        margin-right: 0%;
        margin-top:-275px;
        padding-bottom: 60px;
    }
    #blackBackgroundMF {
        position: relative;
        width: 100%;
        height: 85vw;
        display: inline-block;
        margin: auto;
        padding-bottom: 60px;
        z-index: 1;
    }
    #prototypeMF0 {
        z-index: 10;
        width: 40%;
        position: absolute;
        margin-left: 40%;
        margin-top: -1230px;
        display: block;
    }
    #prototypeMF1 {
        z-index: 10;
        width: 50%;
        position: absolute;
        margin-left: 17%;
        margin-top: -950px;
        display: block;
    }
    #prototypeMF2 {
        z-index: 10;
        width: 50%;
        position: absolute;
        margin-left: 25%;
        margin-top: -580px;
        display: block;
    }
/************** CHIPHOUND **************/
    #welcomeCH {
        position: absolute !important;
        width: 35% !important;
        display: inline-block !important;
        left: 55% !important;
        top: 16vw !important;
    }
    #CHsticker{
        display: none;
        /*position: relative;
        width: 30%;
        display: inline-block;
        margin-left: 50%;
        margin-right: 0%;
        margin-top:-280px;
        padding-bottom: 60px;*/
    }
    #solution1CH {
        margin-left: 22vw;
        padding-top: 115px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 170px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
    #solution2CH {
        margin-left: 22vw;
        padding-top: 140px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 40px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
    #CHS2 { 
        position: relative;
        width: 55%;
        display: inline-block;
        margin-left: 22%;
        margin-right: 0%;
        padding-bottom: 60px;
    }
    #whiteBackground {
        position: relative;
        width: 62%;
        height: 40vw;
        display: inline-block;
        margin-left: 20%;
        margin-bottom: 120px;
        padding-bottom: 40px;
        z-index: 1;
    }
    #prototypeCH{
        z-index: 10;
        position: relative;
        margin-left: 22vw;
        margin-top:-680px;
        padding-bottom: 40px;
        display: block;
    }
/************** MIP **************/
    #MIPskills {
        position: absolute;
        display: inline-block;
        margin-left: 10%;
        padding-top: 16px;
        padding-bottom: 36px;
        height: 175px;
        width: 392px;
    }
    #clientMIP {
        margin-left: 22vw;
        padding-top: 50px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 160px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
    #step3MIP {
        margin-left: 16vw !important;
        padding-top: 0px !important;
    }
    #problemMIP {
        margin-left: 16vw;
        padding-top: 90px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 360px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 400px;
    }
    #MIP1 {
        position: relative;
        width: 40%;
        display: inline-block;
        margin-left: 50%;
        margin-right: 0%;
        margin-top:-480px;
        padding-bottom: 60px;
    }
    #MIP2 {
        position: relative;
        width: 20%;
        display: inline-block;
        margin-left: 40%;
        margin-right: 0%;
        margin-top:-480px;
        padding-bottom: 60px;
    }
    #MIPsolution2 {
        margin-left: 57vw;
        padding-top: 160px;
        padding-bottom: 24px;
        font-size: 16px;
        font-weight: normal;
        height: 200px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 400px;
    }
    #MIP3 {
        position: relative;
        width: 30%;
        display: inline-block;
        margin-left: 15vw;
        margin-right: 0%;
        margin-top:-350px;
        padding-bottom: 20px;
    }
    #MIPsolution3 {
        margin-left: 22vw;
        padding-top: 140px;
        padding-bottom: 40px;
        font-size: 16px;
        font-weight: normal;
        height: 80px;
        letter-spacing: 1.2px;
        line-height: 28px;
        width: 840px;
    }
    #blackBackgroundMIP {
        position: relative;
        width: 100%;
        height: 97vw;
        padding-top: 20px;
        display: inline-block;
        margin: auto;
        padding-bottom: 40px;
        z-index: 1;
    }
    #prototypeMIP0 {
        z-index: 10;
        width: 70%;
        position: absolute;
        margin-left: 17%;
        margin-top: -1370px;
        display: block;
    }
/* all buttons*/
    #VXU {
        background-color: transparent;
        color: #ffffff;
        font-family: 'Unica One', cursive;
        font-size: 28px;
        font-weight: normal;
        height: 33px;
        letter-spacing: 2px;
        width: 54px;
        float: left;
        cursor: pointer;
        text-decoration: none;
        text-align: left;
        padding-left: 24px;
        padding-top: 24px;
        transition-duration: 0.4s;
    }
    .tabButton {
        background-color: Transparent;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 18px;
        font-weight: normal;
        height: 24px;
        letter-spacing: 1.33px;
        display: block;
        float: right;
        text-decoration: none;
        text-align: center;
        margin-top: 36px;
        margin-right: 44px;
        padding: 4px 24px 4px 24px;
        transition-duration: 0.4s;
    }
    .tabButton:hover {
        background-color: transparent; 
        color: white;
        border: 2px solid white;
        border-radius: 50px;
    }
    .tabButton:active {
        background-color: white; 
        fill-opacity: 30%;
        border: 2px solid white;
        border-radius: 50px;
    }
    #nextPage {
        background-color: Transparent;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 18px;
        font-weight: normal;
        height: 24px;
        letter-spacing: 1.33px;
        display: block;
        float: right;
        text-decoration: none;
        text-align: right;
        margin-top: auto;
        margin-bottom: 0px;
        padding: 120px 40px 60px 40px;
        transition-duration: 0.4s;
    }
    #previousPage {
        background-color: Transparent;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 18px;
        font-weight: normal;
        height: 24px;
        letter-spacing: 1.33px;
        display: block;
        float: left;
        text-decoration: none;
        text-align: left;
        margin-top: auto;
        margin-bottom: 0px;
        padding: 120px 40px 60px 40px;
        transition-duration: 0.4s;
    }
    #nextPage:hover , #previousPage:hover {
        background-color: transparent; 
        color: white;
        font-weight: 700;
    }
}