body {
    background-color: #0A253A
}
/*MOBILE*/
@media screen and (max-width: 600px) {
    #intro {
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: normal;
        font-size: 3vw;
        height: 30px;
        letter-spacing: 1.95px;
        text-align: center;
        width: 400px;
        margin: auto;
        padding-top: 258px;
    }
    #victoria {
        color: #ffffff;
        font-family: 'Oranienbaum', serif;
        font-weight: normal;
        font-size: 12vw;
        height: 126px;
        letter-spacing: 7.33px;
        width: 500px;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 80px;
        margin: auto;
    }
    #mountainContainer {
        position: relative;
        text-align: center;
    }
    /*Images*/
    #mountain {
        width: 100vw;
        display: block;
    } 
    #pinkRectangle {
        width: 100vw;
        height: 100vw;
    }

    #shadows {
        display: none;
    }
    #CRtile {
        width: 70vw;
        display: inline-block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        padding-top: 13%;
        z-index: 11;
    }
    #MFtile {
        width: 70vw;
        display: inline-block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        padding-top: 21%;
        z-index: 11;
    }
    #CHtile {
        width: 70vw;
        display: inline-block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        padding-top: 33%;
        z-index: 11;
    }
    #MIPtile {
        width: 70vw;
        display: inline-block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        padding-top: 42%;
        z-index: 11;
    }
    #mywork {
        position: absolute;
        top: 180px;
        right: 100px;
    } 
    h1 {
        color: #ffffff;
        font-family:'Oranienbaum', serif;
        font-weight: normal;
        font-size: 24px;
        letter-spacing: 2px;
        height: 126px;
        width: 700px;
        float: right;
        text-align: right;
        padding-top: 8px;
        margin: auto;
    }
    /*home page buttons*/
    #pastwork, #tobesoon {
        max-width: 500px;
        display: block;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: normal;
        font-size: 14px;
        letter-spacing: 1.95px;
        text-align: left;
        margin: auto;
        padding-top: 16px;
        padding-bottom: 16px;
        cursor: pointer;
    } 
    label{
        max-width: 500px;
        display: block;
        padding: 0px 100px 0px 200px;
        margin-left: 20%;
        border: none;
        cursor: pointer;
        color: #ffffff;
        font-family:'Oranienbaum', serif;
        font-weight: normal;
        font-size: 24px;
        text-align: left;
        letter-spacing: 2px;
    }
    /*line2*/
    label span{
        display: block;
        font-size: 16px;
        color: #ffffff;
        font-family: 'PT Sans Narrow', sans-serif;
        font-weight: normal;
        padding-top: 12px;
        padding-bottom: 44px;
    }
    label input{
        background:none;
        border:none;
    }
    input[value]{
       font-size: 0;
       display: none;
   }
    
    
/* all buttons*/
    #VXU {
    background-color: transparent;
    color: #ffffff;
    font-family: 'Unica One', cursive;
    font-size: 28px;
    font-weight: normal;
    height: 33px;
    letter-spacing: 2px;
    width: 54px;
    float: left;
    cursor: pointer;
    text-decoration: none;
    text-align: left;
    padding-left: 24px;
    padding-top: 24px;
    transition-duration: 0.4s;
    }
    #tabButton {
    background-color: Transparent;
    color: #ffffff;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 18px;
    font-weight: narrow;
    height: 24px;
    letter-spacing: 1.33px;
    width: 70px;
    float: right;
    text-decoration: none;
    text-align: right;
    padding-top: 36px;
    padding-right: 30px;
    transition-duration: 0.4s;
    }
    .button:hover , .button2:hover {
    background-color: transparent; 
    color: white;
    opacity: 50%;
    }
    
}

body {
    background-image: url("homeimages/Stars@4x.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: relative;

    max-width: 100%;
    min-height: 100%;
    margin: 0;
    -webkit-transition: background-image 1s ease-in-out;
    transition: background-image 1s ease-in-out;
}

/*
* {
    box-sizing: border-box;
  }
  
  .item {
    width: 200px;
    height: 200px;
    margin: 50px auto;
    padding-top: 75px;
    background: #ccc;
    text-align: center;
    color: #FFF;
    font-size: 3em;
  }
  */