body {
    background-color: #0A253A
}
h1 {
    color: #ffffff;
    font-family: Oranienbaum;
    font-weight: normal;
    font-size: 100px;
    height: 126px;
    letter-spacing: 7.33px;
    width: 628px;
    text-align: center;
    padding-top: 8px;
    margin: auto
}
h2 {
    color: #ffffff;
    font-family: PTSans-Narrow;
    font-weight: normal;
    font-size: 18px;
    height: 30px;
    letter-spacing: 1.95px;
    text-align: center;
    width: 400px;
    margin: auto;
    padding-top: 200px;
}
body {
    background-image: url("/homeimages/Stars.png");
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
  }
.button {
    background-color: Transparent;
    color: #ffffff;
    font-family: UnicaOne-Regular;
    font-size: 28px;
    font-weight: normal;
    height: 33px;
    letter-spacing: 2px;
    width: 47px;
}