body {
    background-color: #0A253A
}
h1 {
    color: rgb(255, 255, 255);
    font-family: Oranienbaum;
    font-size: 110px;
    height: 126px;
    letter-spacing: 7.33px;
    width: 628px;
}
h2 {
    color: rgb(255, 255, 255);
    font-family: PTSans-Narrow;
    font-size: 26px;
    font-weight: regular;
    height: 30px;
    letter-spacing: 1.95px;
}